:root {
  --pink: #ff0091;
  --light-pink: #f78da7;
  --orange: #f9b147;
  --light-orange: #fcc737;
  --light-gray: #eee;
  --gray: #ccc;
  --success: #53ca53;
  --error: #b91d1d;
  --info: cornflowerblue;

  --main-width: 55rem;
  --main-big-width: 70rem;
  --side-panel-width: 20rem;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  line-height: 1.25;
  font-size: 1.1em;
}

.hidden {
  display: none !important;
}

.messages {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1rem;
  list-style: none;
}
.messages li {
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  max-width: 400px;
  color: var(--light-gray);
}
.messages li .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.messages li.is-error { background: var(--error); }
.messages li.is-success { background: var(--success); }
.messages li.is-info { background: var(--info); }

main {
  max-width: var(--main-width);
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 2em 2em 2em;
  box-sizing: content-box;
  /*border-left: 2px dotted var(--gray);
  border-right: 2px dotted var(--gray);*/
  /*overflow: auto;*/
}
main.big { max-width: var(--main-big-width); }

a {
  color: var(--pink);
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: var(--light-pink);
  text-decoration: underline;
}
a.active { font-weight: bold; }

nav {
  border-bottom: 1px solid var(--gray);
  align-items: center;
  padding: 0.7em 2em;
  background: white;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
nav li {
  list-style: none;
  display: inline;
  margin: 0 1em 0 0;
}
nav li:last-of-type {
  flex-grow: 1;
  text-align: right;
}

input, select, textarea {
  padding: 5px 7.5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 100%;
}
input:focus, select:focus {
  border-color: var(--pink);
}


button, input[type=button], input[type=submit] {
  padding: 0.5em 1em;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background-color: var(--pink);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
}
button.small {
  padding: 0.25em;
}
button:hover, button.outline:hover, input[type=button]:hover, input[type=submit]:hover {
  background-color: var(--light-pink);
}
button.outline {
  background-color: white;
  border: 1px solid var(--pink);
  color: var(--pink);
}
button.outline:hover { color: white; border-color: var(--light-pink); }
button.outline.delete {
  background-color: white;
  border: 1px solid var(--error);
  color: var(--error);
}
button.outline.delete:hover { color: white; background-color: var(--error); }
button.gray {
  background-color: var(--light-gray);
  border: 1px solid #aaa;
  color: #333;
}
button.gray:hover { background-color: var(--gray); }
button .icon {
  font-size: 1.3em;
  margin-left: 0.25em;
}
button .icon.left { margin-left: revert; margin-right: 0.25em; }
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  border:1px solid var(--error);
}

.header-h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 1.2em 0;
}
.header {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 2em;
  row-gap: 1em;
  align-items: baseline;
}
.header aside, .edit-links {
  background-color: var(--light-gray);
  border-radius: 4px;
  padding: 0 1em 1em 1em;
  border: 1px solid var(--light-gray);
}
.header > div {
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 0 1em;
}
h2 + .subtitle, h1 + .subtitle{ margin-top: -0.5rem; }
.subtitle { margin: 0.5rem 0; white-space: pre-wrap; }
.subtitle b { font-family: monospace; font-size: 1rem; text-align: right; }

section {
  margin-top: 1em;
  /*overflow: auto;*/
}
section h1 {
  font-size: 2em;
}

.button-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.button-container button { height: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
td, th { padding: 0.5em; text-align: left; }
.list-table td, .list-table th { border: 1px solid #ddd; }
.list-table td { font-family: monospace; font-size: 1rem;}
.list-table tr:nth-child(even) {
  background-color: #dddddd;
}
.step-links a, .step-links .current { margin-right: 0.25em; }
.pointer { cursor: pointer; transition: 0.2s; }
th.pointer:hover { background-color: #eee !important; }
td.pointer:hover { background-color: rgba(0,0,0,0.2) !important; }
.scrollable {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

h1.large {
  font-size: 2.25em;
}

.mt1-5 { margin-top: 1.5rem !important; }
.mb1 { margin-bottom: 1rem !important; }
.mt1 { margin-top: 0.25rem !important; }
.mt2 { margin-top: 0.5rem !important; }
.mt3 { margin-top: 1rem !important; }
.vertical-align-top td { vertical-align: top !important; }

.form input:not([type="checkbox"]), .form select {
  width: 100%;
  font-size: 1em;
}
.form label:not(fieldset label), .form legend {
  font-weight: bold;
  text-align: right;
}
.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 1rem;
}
.form .grid {align-items: end;}
.grid > div:not(.no-contents), .grid > p {
  display: contents;
}
.form .grid textarea, .form .grid fieldset, .form .grid .error { grid-column: 1 / 3; }
.form .grid textarea {
  margin-top: -0.5rem;
  resize: vertical;
}
.form .grid .helptext {
  display: none;
}
label:has(~ textarea) {
  grid-column: 1 / 3;
  text-align: left !important;
}

.form fieldset > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.search-input, .search {
  position: relative;
}
.search-input::before {
  content: "🔍";
  background: #ccc;
  position: absolute;
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
}
.search-input input {
  padding-left: 2.5rem;
}
.results {
  max-height: 10rem;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.search-result {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ccc;
  background: #f8f8f8;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: 0.2s;
}
.search-result:last-of-type {
  border-bottom: 3px solid #ccc;
}
.search-result:hover {
  background: #fff;
}
.search-result .subtitle {
  font-size: 0.8em;
  color: #333;
  font-family: mono, monospace;
  margin: 0.25rem 0 0 0;
}

main.detail {
  max-width: calc(var(--main-big-width) - var(--side-panel-width));
  position: relative;
  /*transform: translateX(calc((var(--side-panel-width) + 2rem) / 2));*/
}
.side-panel {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(calc(-100% - 2rem));
  width: var(--side-panel-width);
}
.side-panel img {
  width: 100%;
  max-width: var(--side-panel-width);
}

.action-list code {
  font-family: mono, monospace;
  font-size: 0.9em;
  margin: 0 0.25rem;
}

.list-links {
  margin-top: 1.5rem;
}
.list-links span:not(:last-of-type)::after {
  content: "⦁︎";
  color: #111;
  margin: 0 0.25rem;
}

.leaderboard {
  list-style: none;
  padding-left: 1rem;
}
.leaderboard li {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: baseline;
  font-size: 1.2em;
}
.leaderboard li::after{
  content: attr(data-count) " reviews";
  margin-left: auto;
}
.leaderboard li::before{
  content: attr(data-rank) ". ";
  margin-right: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}
.leaderboard .leaderboard-count {display: none;}
.leaderboard .leaderboard-user {}
.leaderboard li:first-of-type {
  background: var(--pink);
  color: var(--light-gray);
  box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 8px;
  font-size: 1.3em;
}

details > summary {
  cursor: pointer;
}
details[open=""] > summary {
  margin: -1rem;
  margin-bottom: 1rem;
}
details[open=""] {
  background: var(--light-gray);
  padding: 1rem;
}

.bulk-modify-submit {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  background-color: var(--pink);
  color: white;
  text-align: center;
  display: block;
  padding: 0.75rem 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.bulk-modify-submit:hover {
  background: var(--light-pink);
}
.repeat-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.repeat-cols li {
  list-style: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repeat-cols li::before {
  content: '•';
  margin-right: 0.5rem;
}

@media (max-width: 1640px) {
  main.detail {
    transform: translateX(calc((var(--side-panel-width) + 2rem) / 2));
  }
}

@media (max-width: 1280px) {
  main.detail {
    transform: revert;
  }
  .side-panel {
    position: revert;
    margin-top: 1.5rem;
    width: revert;
    transform: revert;
  }
  .side-panel section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .side-panel section div {
    margin-left: 2rem;
    flex-grow: 1;
  }
}

@media (max-width: 1072px) {
  nav li:last-of-type {
    margin: 1em 0 0 0;
    text-align: center;
  }
}
@media (max-width: 610px) {
  nav li:last-of-type {
    display: none;
  }
  nav li {
    width: 100%;
    margin: 0.1rem 0;
  }
  .side-panel section div {
    margin-left: 0;
  }
  .header { grid-template-columns: 1fr; }

  .search-form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}
@media (max-width: 400px) {
  .form .grid, .form .grid > div {
    display: block;
  }
  .form .grid > div { margin: 1rem 0; }
  .form .grid textarea { margin-top: revert; }
}
