{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="is-{{ message.tags }}"{% endif %}>
          {{ message }}<span class='close' onclick="close_message(this)" aria-label="close message">✖</span>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  <nav>
    <ul>
      <li><a href="{% url 'library:index' %}">home</a></li>
      <li><a href="#">new review</a></li>
      <li><a href="#">explore bin</a></li>
      <li><a href="#">log out</a></li>
      <li>
        Find
        <select name="tbl">
          <option value="Artist">Artists</option>
          <option value="Album">Albums</option>
          <option value="Label">Labels</option>
          <option value="Review">Reviews</option>
          <option value="User">Users</option>
          <option value="Genre">Genres</option>
        </select>
        that
        <select name="pos">
          <option value="include">include</option>
          <option value="begin">start with</option>
          <option value="end">end with</option>
          <option value="exact">match exactly</option>
        </select>
        <input type='input'></input>
        <button class='small gray'>search</button>
      </li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
