<!-- UNDERWRITING SCRIPT created 2/22/18 by Martha Cryan (mcryan@wrct.org)
Very rough first try at digitizing underwriting. Hopefully will add
interface for people to edit / add scripts, but for now you can manually
add them to the list in this file. -->

<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Online Underwriting Scripts</title>
   <link rel="stylesheet" type="text/css" href="static/css/underwriting.css" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
</head>
<body>
  <br></br>
  <h1 class="mx-auto" style="width: 300px"> UNDERWRITING </h1>
  <br></br>
  <h3 id="para" class="mx-auto" style="width:1000px"> </h3>
  <script>
    var suffix = "<br> <b>**ALSO READ THE FOLLOWING:</b> If you are interested in underwriting for WRCT, you can email pr@wrct.org for more information about promotional exchanges and other partnership opportunities.";
    var underwritingList = [
"WRCT is supported by Row House Cinema. Row House Cinema is an independent single screen theater. Each week they choose a new movie theme, and they offer concessions. Row House Cinema is located at 4115 Butler Street in Lawrenceville. For more information, visit their website at RowHouseCinema DOT com or call (412) 904 - 3225. <br><br><b>0:15 UND25-01 </b>",

"WRCT is supported by Tartan Ink, located in the Cohon University Center on Carnegie Mellon University Campus. Tartan Ink provides a range of services for printing, finishing, and shipping with various sizes and materials available. For more information, visit cmu DOT edu SLASH tartan ink, or call (412) 268 - 4828. <br><br><b>0:15 UND25-02 </b>",

"WRCT is supported by Spak Brothers Pizza, located at 5107 Penn Avenue in Bloomfield. Specializing in vegan and vegetarian alternatives, Spak Brothers Pizza offers takeout or delivery for pizza, hoagies, and wings, and more. For more information, email them at SpakHelp AT gmail DOT com or visit their website at Spak Brothers DOT com. <br><br><b>0:15 UND25-03 </b>",

"WRCT is supported by Sidecar Bakery, an independent coffee shop located in North Oakland. With a coffee bar, breakfast sandwiches, and baked goods, Sidecar offers a place to study, eat, and hang with friends in a cafe setting. They now offer catering. For more information, visit their websit at sidecar 412 DOT com. <br><br><b>0:15 UND25-04 </b>",

"WRCT is supported by Attic Records. Attic Records is an independently owned and operated shop that buys and sell new and used records and CD's. Attic Records is located at 513 Grant Avenue in Millvale. More information is available at (412) 821 - 8484 or at AtticRecordStoreInc DOT com. <br><br><b>0:15 UND25-05 </b>",

"WRCT is supported by ReMasterMedia. ReMasterMedia is an online tool that can reprocess and optimize audio sound for internet and broadcast setting for both professional and personal use. They offer tools that can add depth, stereo imaging, and noise reduction. More information is available at ReMasterMedia DOT com. <br><br><b>0:15 UND25-07 </b>"

  ];
    var underwritingScript = underwritingList[Math.floor(Math.random()*underwritingList.length)] + " " + suffix;
    document.getElementById('para').innerHTML = underwritingScript;
  </script>
  <!-- "Spak Brother Pizza joins you in supporting WRCT Pittsburgh. <br></br> Spak Brothers Pizza offers pizza, hoagies, and wings while specializing in vegan and vegetarian alternatives. <br></br> Spak Brothers Pizza uses no refined sugars in its sauce and unbleached flour in its dough. <br></br> Spak Brothers Pizza is located at 51-oh-7 Penn Avenue in the Garfield neighborhood of Pittsburgh. <br></br> For more information, call (412) 362-SPAK (7725) or visit their website at spak brothers dot com.<br></br> <b> PRO US13-02 <br> :30 </b>",
    -->
</body>
</html>
